body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;}

#topsection {background-color: #A7C5A8;

}

/* I removed the margins and padding from the body so there would not be white space on the edges of the background color. */



h5{font-size: 3rem;}

#portrait {margin-bottom: 2rem;
  height: 400px;}


#info {display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 5rem;}

/* I used rem values for the margins instad of pixels to try to ensure responsiveness. It was also important that
I align the items to the center here, so that the vertical column of content was not pushed to the left automatically. */


p {max-width: 800px;}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 3px 4px rgba(0,0,1,0.5); 
    margin-bottom: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    transition: filter 0.5s ease-in-out;
  }
  
  .project:hover {
    opacity: 0.5;
  }

/* Because I used classes in my HTML, I can target each of the projects all at once. The hover effect decreases the opacity when the user
hovers over the content. This communicates to the user that the content can be clicked. */



.projectimage {
align-self: flex-start;
width: 200px;}

h1 {margin: 0 auto}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a {color: black;}

/* This is so that the text in the project section did not change to be blue and underlined like a link. */

@media only screen and (max-width: 480px) {
  
    #navigation{font-size: 16px;}
   
    .project {display: flex;
    flex-direction: column;
align-items: center;
font-size: 22px;
justify-content: center;
margin-left: 0;
margin-right: 0;}
text-align: center;

.projectimage {width: 80vw;
align-self: center;}

h1{margin-top: 4rem;
    font-size: 22px;
align-self: center;}


  }

/* This section takes care of mobile formatting, changing the text to display below each of the images instead of next to the images. */

  @media only screen and (max-width: 768px) {
  
 #navigation {
  font-size: 18px; }
    
  #portrait {
    height: 300px;}
    
  p 
  {max-width: 500px;}
    
   .project {  margin-left: 2rem;
      margin-right: 2rem;}
    
 .projectimage {width: 150px; }
    
    h1 {  font-size: 28px;
    }
  }

/* The tablet formatting also adjusts the sizing and margins */


p6 {max-width: 1000px;
margin-top: 2rem;}


.projectdisplayimage{
  margin-top: 3rem;
  max-width: 500px;
}

.project1content {display: flex;
flex-direction: column;
align-items: center;}

.projectheader{display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: #A7C5A8;
min-height: 20rem;
justify-content: center;}

.backlink {font-size: 1rem;
padding-top: 3rem;}

/* This section handles the project pages. I used another vertical flexbox here. I kept using rem units for the margins to help with responsiveness. */
