body {font-family: 'Open Sans', sans-serif;}

#topsection {background-color: #A7C5A8;

}

#navigation {
display: flex;
justify-content: left;}
.navoption {font-size: 24px;
margin-left: 1rem;
margin-right: 1rem;}

#info {display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 5rem;}

#portrait {
    height: 400px;}

p {max-width: 800px;}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 3px 4px rgba(0,0,1,0.5); 
    margin-bottom: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    transition: filter 0.5s ease-in-out;
  }
  
  .project:hover {
    opacity: 0.5;
  }


.projectimage {
align-self: flex-start;
width: 200px;}

h1 {margin: 0 auto}

@media only screen and (max-width: 480px) {
    .project {display: flex;
    flex-direction: column;
align-items: center;
font-size: 18px;}
.projectimage {width: 80vw;}


  }
